params {
    samples             = "samples.tsv"
    data_dir            = "data"
    outdir              = "results"
    genome              = "references/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa"
    gtf                 = "references/Homo_sapiens.GRCh37.75.gtf"
    hisat2_index        = "references/grch37/genome"
//    adapters            = "/home/kzilberburg/miniconda3/envs/uveal-pipeline/share/trimmomatic-0.40-0/adapters/TruSeq3-PE-2.fa"
    adapters = "${System.getenv('CONDA_PREFIX')}/share/trimmomatic-0.40-0/adapters/TruSeq3-PE-2.fa"  
    trimmed_read_length = 99
    fdr_threshold       = 0.1
}

process {
      cpus   = 2
      memory = '8 GB'

      withName: 'TRIMMOMATIC' {
          cpus   = 4
          memory = '16 GB'
      }
      withName: 'HISAT2_ALIGN' {
          cpus   = 8
          memory = '16 GB'
      }
      withName: 'SAM_TO_SORTED_BAM' {
          cpus   = 4
          memory = '16 GB'
      }
      withName: 'MARK_DUPLICATES' {
          cpus   = 2
          memory = '16 GB'
      }
} 
